body {
  background-color: #fff;
  background-image:url("https://hd.unsplash.com/uploads/1412862685615b0212e3d/5fcb0a55");
  background-size: cover;
  color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 26px;
}

a {
  color: lightgreen;

  &:visited {
    color: tan;
  }

  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#animal_common_name, #animal_latin_name, #animal_kingdom, #sighting_lat_long, #sighting_animal_id, #sighting_region, #start_date, #end_date, #region {
  color:black;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 28px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 28px;
    list-style: square;
  }
}

.actions {
  padding-top: 10px;
  padding-bottom: 10px;
}
